html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  text-align: center;
  font-family: 'Crimson Text', serif;
  background-color: $background-color;
}
header{
  width: 100%;
  margin: 0 auto;
  div:nth-child(1){float: left;} 
  div:nth-child(2){float: right;} 
}
h1{
  font-family: $heading-font-family;
  font-size: $xlarge-font-size;
  font-weight: bold;
  font-style: normal;
  color: $primary-color;
  margin: 3rem 0;
  span{
    font-size: $large-font-size;
    display: block;
    line-height: 0.5;
    font-style: italic;
    margin: 0.5rem 0;
  }
}
h2{
  margin: 0;
  font-size: $large-font-size;
  color: darken($secondary-color, 15);
  margin-bottom: 0.5rem;
  font-weight: normal;
}
p {
  width: 100%;
  margin: 10px auto;
  color: lighten($primary-color,10);
  font-size: $medium-font-size;
}
.entry{
  font-size: $medium-font-size;
  color: lighten($primary-color,15);
  text-align: left;
}
.wrapper{
   max-width: 1600px;
   width: 80%;
   margin: 0 auto;
   color: $secondary-color;
};
// horizontal alignment for questions and final form 
// .input-wrapper
.question{
  max-width: 650px;
  margin: 10rem auto;
}

.question p{
  color: lighten($primary-color,20);
}
.app-header{
      margin: 2rem 0 4rem 0;
  color: darken($secondary-color,30);
  font-size: $large-font-size;
}
.modal-container, .modal{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.5);
  // background: whitesmoke;
  z-index: 9;
  h2{
    text-decoration: underline;
    margin: 20px 0px 10px 0px;
    color: $primary-color;
  }
}
.modal-container{
  position: absolute;
  left: 25%;
  right: 25%;
  top: 5%;
  bottom: 2%;
  background: whitesmoke;
  border: 6px double $primary-color;
}
.btn-leaderboard{
  z-index: 10;
}

.input-field{
  border: 5px double $primary-color;
  padding: 1rem;
  font-size: $medium-font-size;
  display: block;
  width: 100%;
}
.input-wrapper{
    padding: 0 20%;
}
.instruction{
  font-weight: bold;
  color: $primary-color;
}
.definition{
  font-size: $large-font-size;
  color: $primary-color;
}
.entries{
  display: inline-block;
  margin-top: 1.5rem;
}

svg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  path {
    fill-opacity: 0;
    stroke: $primary-color;
    stroke-width: 1;
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
    animation: draw 15s ease;
    animation-fill-mode:forwards;
  }
}

.timerSVG{
  animation: draw 15s ease, shake 3s ease;
  path{
    stroke-width: 1.5;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 870;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}