@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans");


html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  text-align: center;
  font-family: 'Crimson Text', serif;
  background-color: $background-color;
}

header{
  width: 50%;
  margin: 0 auto;
  div:nth-child(1){float: left;} 
  div:nth-child(2){float: right;} 
}

h2{
  margin: 0;
}

h1{
  font-family: $heading-font-family;
  font-size: $xlarge-font-size;
  font-weight: bold;
  font-style: normal;
  color: $primary-color;
  margin: 3rem 0;
  span{
    font-size: $large-font-size;
    display: block;
    line-height: 0.7;
    font-style: italic;
    margin: 1rem 0;
  }
}

h2{
  font-size: $large-font-size;
  color: darken($secondary-color, 15);
  margin-bottom: 0.5rem;
}

.wrapper{
   max-width: 1600px;
   width: 80%;
   margin: 0 auto;
   color: $secondary-color;
};

.question p {
  max-width: 60%;
  margin: 20px auto;
}

.app-header{
  margin-top: 2rem;
  color: darken($secondary-color,30);
  font-size: $large-font-size;
}

.modal-container, .modal{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.5);
  // background: whitesmoke;
  z-index: 9;
  h2{
    text-decoration: underline;
    margin: 20px 0px 10px 0px;
    color: $primary-color;
  }
}
.modal-container{
  position: absolute;
  left: 25%;
  right: 25%;
  top: 5%;
  bottom: 5%;
  background: whitesmoke;
  border: 6px double $primary-color;
}

.btn-leaderboard{
  z-index: 10;
}

.input-field{
  width: 500px;
  display: block;
  padding: 1rem;
  margin: 2rem;
  font-size: $medium-font-size;
  border-radius: 2px;
  border: 1.5px solid $primary-color;
  text-transform: capitalize;
}

.input-wrapper{
    margin: 5rem auto;
    width: 500px;
}

.instruction{
  font-weight: bold;
  color: $primary-color;
}

.definition{
  font-size: $large-font-size;
  color: $primary-color;
}
