$color-gray:grey;
$color-black: black;
$stripe-height: 7px;
$background: whitesmoke;
$btn-color: $color-gray;
$btn-background: white;
$btn-color-hover: white;
$btn-background-hover: $color-gray;
$border-color: $color-gray;
$border-color-hover: $color-black;